/* General styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f8f8;
}

.header-left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-center {
    flex: 8;
    text-align: center;
    margin: 5px;
}

.header-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.header-right button {
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.welcome-message {
    font-size: 0.9rem;
    color: gray;
    margin: 3px;
    text-align: center;
    
}

main {
    display: flex;
    flex: 1;
    padding: 0px;
    margin: 0px;
}

.sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin: 10px 0;
}

.content {
    flex: 1;
    padding: 1rem;
    background-color: #f4f4f4;
}
h3{
    margin: 0px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: stretch;
    }

    .header-left,
    .header-right {
        justify-content: center;
    }

    main {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
}


.group {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.input-field {
    margin-bottom: 15px;
}






/* Sidebar hidden */
.sidebar.hidden {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
}

/* Sidebar buttons in one line */
.sidebar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

/* Fullscreen mode */
body.fullscreen-mode #main-header,
body.fullscreen-mode .sidebar {
    display: none;
}

body.fullscreen-mode .content {
    width: 100%;
}

/* Restore button */
#restore-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    display: flex;
}

#restore-button.hidden {
    display: none;
}
